<html ng-app="myApp">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js" type="text/javascript"></script>
		<script src="http://metawidget.org/js/4.2/metawidget-core.min.js" type="text/javascript"></script>
		<script src="http://metawidget.org/js/4.2/metawidget-angular.min.js" type="text/javascript"></script>
		<script type="text/javascript">
			angular.module( 'myApp', [ 'metawidget' ] )
				.controller( 'myController', function( $scope ) {
					$scope.metawidgetConfig = {
						inspector: new metawidget.inspector.JsonSchemaInspector( {
							properties: {
								firstname: {
									type: 'string'
								},
								surname: {
									type: 'string',
									required: true
								},
								age: {
									type: 'number',
									minimum: 0
								},
								notes: {
									type: 'string',					
									large: true
								}
							}
						} )
					}
					$scope.save = function() {
						console.log( $scope.person );
					}
				} );
		</script>
		<style>
			p {
				text-align: center;
			}			
			#metawidget {
				border: 1px solid #cccccc;
				width: 275px;
				border-radius: 10px;
				padding: 10px;
				margin: 50px auto;
				display: block;
			}
			#metawidget button {
				display: block;
				margin: 10px auto 0px;
			}
		</style>
	</head>
	<body ng-controller="myController">
		<metawidget id="metawidget" ng-model="person" config="metawidgetConfig">
			<button ng-click="save()">Save</button>
		</metawidget>
	</body>
</html>